<div class="logo">
  <a routerLink="/">
    <h2>R-Square Restaurant</h2>
  </a>
</div>
<div>
  <mat-accordion>
    <div class="sidenav">
      <ul>
        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>dashboard</mat-icon>
                <div class="matPanelTitle">
                  Dashboard
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a routerLink="adminDashboard">R-Square Restaurant</a>
          </mat-expansion-panel>
        </li>

        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>restaurant_menu</mat-icon>
                <div class="matPanelTitle">
                  Menus
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a routerLink="adminDashboard">Menu Catalogue</a>
              </li>
              <li>
                <a routerLink="adminDashboard">Menu List</a>
              </li>
              <li>
                <a routerLink="adminDashboard">Menu Grid</a>
              </li>
              <li>
                <a routerLink="adminDashboard">Add Product</a>
              </li>
              <li>
                <a routerLink="adminDashboard">Product Detail</a>
              </li>
            </ul>
          </mat-expansion-panel>
        </li>

        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>receipt</mat-icon>
                <div class="matPanelTitle">
                  Orders
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </li>

        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>view_list</mat-icon>
                <div class="matPanelTitle">
                  Restaurants List
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </li>

        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>description</mat-icon>
                <div class="matPanelTitle">
                  Invoice
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a routerLink="adminDashboard">Invoice Detail</a>
              </li>
              <li>
                <a routerLink="adminDashboard">Invoice List</a>
              </li>
            </ul>
          </mat-expansion-panel>
        </li>

        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>people</mat-icon>
                <div class="matPanelTitle">
                  Customer
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a routerLink="/">Invoice Detail</a>
              </li>
              <li>
                <a routerLink="/">Invoice List</a>
              </li>
            </ul>
          </mat-expansion-panel>
        </li>

        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>business_center</mat-icon>
                <div class="matPanelTitle">
                  Sales
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a routerLink="/">Invoice Detail</a>
              </li>
              <li>
                <a routerLink="/">Invoice List</a>
              </li>
            </ul>
          </mat-expansion-panel>
        </li>

        <li>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>widgets</mat-icon>
                <div class="matPanelTitle">
                  Widgets
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>
                <a routerLink="/">Invoice Detail</a>
              </li>
              <li>
                <a routerLink="/">Invoice List</a>
              </li>
            </ul>
          </mat-expansion-panel>
        </li>
      </ul>
    </div>
  </mat-accordion>
</div>
